@import url('colores.css');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    font-family: 'Patrick Hand', cursive;
    font-size: 14px;
    text-align: center;
    color: var(--negro);
}

body::after {
    content: "";
    background: url('https://ae01.alicdn.com/kf/HTB1I_FvOXXXXXXCaFXXq6xXFXXX7/Fuga-de-Rick-e-Morty-Hot-Anima-o-Dos-Desenhos-Animados-Poster-Retro-Do-Vintage-Da.jpg') no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

/*---------------------------- Columnas ----------------------------*/
.una-columna {
    display: grid;
    grid-template-columns: 1fr;

}
.dos-columnas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tres-columnas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cuatro-columnas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*---------------------------- Filas ----------------------------*/
.una-fila {
    display: grid;
    grid-template-rows: auto;
}
.dos-filas {
    display: grid;
    grid-template-rows: auto;
}

.tres-filas {
    display: grid;
    grid-template-rows: auto;
}

.cuatro-filas {
    display: grid;
    grid-template-rows: auto;
}

.cinco-filas {
    display: grid;
    grid-template-rows: auto;
}

.seis-filas {
    display: grid;
    grid-template-rows: auto;
}

/*---------------------------- Localizaciones ----------------------------*/
.izquierda {
    padding: 5%;
    text-align: left;
}

.derecha {
    padding: 5%;
    text-align: right;
}

.centro {
    padding: 5%;
    text-align: center;
}

/*---------------------------- Scrollbar ----------------------------*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gris);
    border-radius: 6px;
}

.scrollbar {
    scrollbar-color: var(--gris) var(--blanco); 
}

.scrollbar {
    scrollbar-face-color: var(--gris);
    scrollbar-shadow-color: var(--blanco);
}

/*---------------------------- Titulos ----------------------------*/
h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6{
    font-size: 20px;
}

p {
    font-size: 16px;
}
/*---------------------------- Botones ----------------------------*/
a {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: var(--negro);
    padding-bottom: 4%;
}

.boton-verde {
    background-color: var(--verde_claro);
    border: 3px solid var(--negro);
    border-radius: 15px;
    box-shadow: var(--negro) 4px 4px 0 0;
    color: var(--negro);
    cursor: pointer;
    display: inline-block;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.boton-morado {
    background-color: var(--morado_claro);
    border: 3px solid var(--negro);
    border-radius: 15px;
    box-shadow: var(--negro) 4px 4px 0 0;
    color: var(--negro);
    cursor: pointer;
    display: inline-block;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.boton-rojo {
    background-color: var(--rojo_claro);
    border: 3px solid var(--negro);
    border-radius: 15px;
    box-shadow: var(--negro) 4px 4px 0 0;
    color: var(--negro);
    cursor: pointer;
    display: inline-block;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.boton-amarillo {
    background-color: var(--amarillo_claro);
    border: 3px solid var(--negro);
    border-radius: 15px;
    box-shadow: var(--negro) 4px 4px 0 0;
    color: var(--negro);
    cursor: pointer;
    display: inline-block;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.boton-verde:hover {
    background-color: #fff;
}
.boton-morado:hover {
    background-color: #fff;
}
.boton-rojo:hover {
    background-color: #fff;
}
.boton-amarillo:hover {
    background-color: #fff;
}

.boton-verde:active {
    box-shadow: var(--negro) 2px 2px 0 0;
    transform: translate(2px, 2px);
}
.boton-morado:active {
    box-shadow: var(--negro) 2px 2px 0 0;
    transform: translate(2px, 2px);
}
.boton-rojo:active {
    box-shadow: var(--negro) 2px 2px 0 0;
    transform: translate(2px, 2px);
}
.boton-amarillo:active {
    box-shadow: var(--negro) 2px 2px 0 0;
    transform: translate(2px, 2px);
}

/*---------------------------- Objetos ----------------------------*/
.box-transparente {
    margin: 5%;
    align-items: center;
    text-align: center;
}

.box-blanca-rayada {
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background: 
        repeating-linear-gradient(45deg, transparent, transparent 10px, white 10px, white 15px);
    border: 3px solid var(--negro);
    border-radius: 15px;
    align-items: center;
    text-align: center;
}

.box-verde-borde {
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background: var(--verde-pastel);
    border: 3px solid var(--verde);
    border-radius: 15px;
    align-items: center;
    text-align: center;
    color: var(--verde);
}

.box-gris-borde {
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background: var(--gris-pastel);
    border: 3px solid var(--gris);
    border-radius: 15px;
    align-items: center;
    text-align: center;
    color: var(--gris);
}

.box-rojo-borde {
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background: var(--rojo-pastel);
    border: 3px solid var(--rojo);
    border-radius: 15px;
    align-items: center;
    text-align: center;
    color: var(--rojo);
}

.box-amarillo-borde {
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background: var(--amarillo-pastel);
    border: 3px solid var(--amarillo);
    border-radius: 15px;
    align-items: center;
    text-align: center;
    color: var(--amarillo);
}

.box-morado {
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background: var(--morado-pastel);
    border: 3px solid var(--negro);
    border-radius: 15px;
    align-items: center;
    text-align: center;
}

.box-rojo {
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background: var(--rojo-pastel);
    border: 3px solid var(--negro);
    border-radius: 15px;
    align-items: center;
    text-align: center;
}

.box-amarillo {
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background: var(--amarillo-pastel);
    border: 3px solid var(--negro);
    border-radius: 15px;
    align-items: center;
    text-align: center;
}

.box-blanco {
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, 
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background: var(--blanco);
    border: 3px solid var(--negro);
    border-radius: 15px;
    align-items: center;
    text-align: center;
}

/*---------------------------- Imagen ----------------------------*/
.img-png {
    width: 100%;
    max-width: 90%; 
    height: auto;
    padding: 7%;
}

.img-fondo {
    border-radius: 15px;
    overflow: hidden;
    transform: scale(0.9);
}
