:root {
    /* COLORES PASTEL */
    --morado-pastel: #eebefa;
    --amarillo-pastel:#ffec99;
    --gris-pastel: #e9ecef;
    --verde-pastel: #b2f2bb;
    --rojo-pastel: #ffc9c9;

    /* COLORES CLAROS*/
    --morado_claro: #de7ef4;
    --amarillo_claro:#ffcf46;
    --gris_claro: #bec4c7;
    --verde_claro: #95e0a3;
    --rojo_claro: #fda4a4;

    /* COLORES OSCUROS */
    --morado: #9c36b5;
    --amarillo: #f08c00;
    --gris: #868e96;
    --verde: #2f9e44;
    --rojo: #e03131;
    
    /* COLORES BASICOS */
    --blanco: #ffffff;
    --negro: #1e1e1e;
}