<!DOCTYPE html>
<html data-theme="light" lang="es">

{% include 'global/header.html' %}

<body>
    {% include 'global/menu.html' %}

    <div class="h-1/6"></div> 

    <div class="rounded-box flex grow flex-col px-6 pb-8 pt-12 text-center">
        <div class="font-title text-8xl font-black leading-none">About</div> 
        <div class="h-1/6"></div> 
        <p class="text-4xl mx-auto font-sans font-light"></p> 
    </div>

    <div class="h-1/6"></div> 
<!--    
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="col-md-6 p-lg-5 mx-auto">
            <h2 class="display-5">Rick and Morty</h2>
            <p class="lead">Rick, a brilliant scientist, and Morty, his impressionable grandson, live dangerous adventures on other planets and parallel dimensions.</p> 
            <p class="lead">"Rick and Morty" is an animated adult series that follows the adventures of Rick Sanchez, a genius and alcoholic scientist, and his grandson Morty Smith. 
                Together, they explore alternate dimensions, face surreal situations, and tackle scientific challenges. The series blends science fiction with black and satirical humor, addressing profound themes while breaking the fourth wall and providing social commentary. 
                The relationship between Rick and his family, along with improvisation in the writing, are key aspects that contribute to the show's appeal.</p> 
        </div>

        <div class="col-md-6 p-lg-5 mx-auto">
            <h2 class="display-5">Rickopedia</h2>      
            <p class="lead">Rickopedia is a wiki of all the information you can find about Rick and Morty.</p> 
            <p class="lead">It is developed using the Rick and Morty API.</p> 
            <p class="lead">It has been designed thinking that all this information can be found, searched and seen clearly and easily.</p>
            <div class="d-flex gap-3 justify-content-center lead fw-normal">
                <a class="icon-link" href="#">Suggestions <i class="bi bi-caret-right-fill"></i></a>
                <a class="icon-link" href="https://rickandmortyapi.com/">Rick and Morty API <i class="bi bi-caret-right-fill"></i></a>
            </div> 
        </div> 

        <div class="col-md-6 p-lg-5 mx-auto">
            <h2 class="display-5">Author</h2>       
            <p class="lead">The website has been made by Claudia Landeira for fun.</p>
            <p class="lead">You can make suggestions through the suggestions button or write to me through my social networks.</p>
            <p class="lead">The website is open source and is available in my GitHub Repository.</p>

            <div class="d-flex gap-3 justify-content-center lead fw-normal">
                <a class="icon-link" href="https://github.com/claudialandeirav/Rickopedia">GitHub Repository <i class="bi bi-caret-right-fill"></i></a>
            </div>
        </div>
    </div>
-->
    {% include 'global/footer.html' %}
</body>
</html>