<!DOCTYPE html>
<html data-theme="light" lang="es">

{% include 'global/header.html' %}

<body>
    {% include 'global/menu.html' %}

    <div class="h-1/6"></div> 

    <div class="rounded-box flex grow flex-col px-6 pb-8 pt-12">
        <div class="grid grid-cols-2 gap-5 justify-items-center">
            <div class="card col bg-base-100 shadow-xl">
                <figure><img src="{{ image }}" alt="{{ name }}" /></figure>
            </div>
            <div class="overflow-x-auto col flex justify-center items-center">
                <table class="table">
                    <tbody>
                        <tr class="text-left">
                            <th class="font-title text-2xl font-black leading-none">Name</th>
                            <td class="text-1xl mx-auto font-sans font-light">{{ name }}</td>                           
                        </tr>
                        <tr class="text-left">
                            <th class="font-title text-2xl font-black leading-none">Status</th>
                            {% if status == 'Alive' %}
                            <td class="text-1xl mx-auto badge badge-success badge-outline font-sans font-light">{{ status }}</td>     
                            {% endif %}
                            {% if status == 'Dead' %}
                            <td class="text-1xl mx-auto badge badge-error badge-outline font-sans font-light">{{ status }}</td>     
                            {% endif %}
                            {% if status == 'unknown' %}                      
                            <td class="text-1xl mx-auto badge badge-outline font-sans font-light">{{ status }}</td>     
                            {% endif %}
                        </tr>
                        <tr class="text-left">
                            <th class="font-title text-2xl font-black leading-none">Specie</th>
                            <td class="text-1xl mx-auto font-sans font-light">{{ species }}</td>                           
                        </tr>
                        {% if type %}
                        <tr class="text-left">
                            <th class="font-title text-2xl font-black leading-none">Type</th>
                            <td class="text-1xl mx-auto font-sans font-light">{{ type }}</td>                           
                        </tr>
                        {% endif %}
                        <tr class="text-left">
                            <th class="font-title text-2xl font-black leading-none">Gender</th>
                            <td class="text-1xl mx-auto font-sans font-light">{{ gender }}</td>                           
                        </tr>
                        <tr class="text-left">
                            <th class="font-title text-2xl font-black leading-none">Origin</th>
                            <td class="text-1xl mx-auto font-sans font-light">{{ origin['name'] }}</td>                           
                        </tr>
                        <tr class="text-left">
                            <th class="font-title text-2xl font-black leading-none">Actual location</th>
                            <td class="text-1xl mx-auto font-sans font-light">{{ location['name'] }}</td>                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="h-1/6"></div> 

    
    {% include 'global/footer.html' %}
</body>
</html>