<!DOCTYPE html>
<html data-theme="light" lang="es">

{% include 'global/header.html' %}

<body>
    {% include 'global/menu.html' %}

    <div class="h-1/6"></div> 

    <div class="rounded-box flex grow flex-col px-6 pb-8 pt-12 text-center">
        <div class="grid grid-cols-3 gap-5 justify-items-center">
            
            <div></div> 

            <div class="font-title text-8xl font-black leading-none">Characters</div> 

            <button class="btn btn-circle btn-accent" onclick="characterFilter.showModal()">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                </svg>
            </button>
            <dialog id="characterFilter" class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <h2 class="font-bold text-3xl justify-left pb-8">Characters filters</h3>
                    
                    <div class="grid grid-cols-2 gap-5 justify-items-center pt-4">
                        <input type="text" placeholder="Character name" class="input input-bordered input-accent input-sm w-10/12 pr-10"/>
                        <select class="select select-accent w-full select-sm max-w-xs">
                            <option disabled selected>Species</option>
                            <option>Human</option>
                            <option>Alien</option>
                            <option>Humanoid</option>
                            <option>Poppybutthole</option>
                            <option>Mythological Creature</option>
                            <option>Animal</option>
                            <option>Robot</option>
                            <option>Cronenberg</option>
                            <option>Disease</option>
                            <option>unknown</option>
                        </select>
                    </div>

                    <div class="grid grid-cols-2 gap-5 justify-items-center pt-6">
                        <div>
                            <h3 class="font-bold justify-left">Status</h3>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text px-3">Alive</span> 
                                    <input type="checkbox" class="checkbox checkbox-success checkbox-sm" />
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text px-3">Dead</span> 
                                    <input type="checkbox" class="checkbox checkbox-success checkbox-sm" />
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text px-3">Unknown</span> 
                                    <input type="checkbox" class="checkbox checkbox-success checkbox-sm" />
                                </label>
                            </div>
                        </div>
                        <div>
                            <h3 class="font-bold justify-left">Gender</h3>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text px-3">Female</span> 
                                    <input type="checkbox" class="checkbox checkbox-success checkbox-sm" />
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text px-3">Male</span> 
                                    <input type="checkbox" class="checkbox checkbox-success checkbox-sm" />
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text px-3">Generless</span> 
                                    <input type="checkbox" class="checkbox checkbox-success checkbox-sm" />
                                </label>
                            </div>
                            <div class="form-control">
                                <label class="label cursor-pointer">
                                    <span class="label-text px-3">Unknown</span> 
                                    <input type="checkbox" class="checkbox checkbox-success checkbox-sm" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="pt-4">
                        <a class="btn btn-wide btn-accent" href="">Apply Filters</a>
                    </div> 
                </div>
            </dialog>
        </div>
        <div class="h-1/6"></div> 
    </div>

    <div class="h-1/6"></div> 

    <div class="overflow-x-auto flex justify-center items-center">
        <table class="table w-4/5">
            <thead>
                <tr class="text-center">
                    <th>Name</th>
                    <th>Specie</th>
                    <th>Gender</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for character in characters %}
                <tr class="text-center hover:bg-gray-100 cursor-pointer" onclick="window.location.href='{{ url_for( 'character' , id=character['id'] ) }}';">
                    <td>
                        <div class="flex items-center text-center gap-4">
                            <div class="avatar">
                                <div class="mask mask-squircle w-12 h-12">
                                    <img src="{{ character['image'] }}" alt="image" />
                                </div>
                            </div>
                            <div>
                                <div class="font-bold text-center">{{ character['name'] }}</div>
                            </div>
                        </div>
                    </td>
                    <td> {{ character['species'] }} </td>
                    <td> {{ character['gender'] }} </td>
                    {% if character['status'] == 'Alive' %}
                    <td> 
                        <div class="badge badge-success badge-outline gap-2">
                            {{ character['status'] }}
                        </div>
                    </td>
                    {% endif %}
                    {% if character['status'] == 'Dead' %}
                    <td> 
                        <div class="badge badge-error badge-outline gap-2">
                            {{ character['status'] }}
                        </div>
                    </td>
                    {% endif %}
                    {% if character['status'] == 'unknown' %}
                    <td> 
                        <div class="badge badge-outline gap-2">
                            {{ character['status'] }}
                        </div>
                    </td>
                    {% endif %}
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="join join-center justify-center md:flex pb-8 pt-12">
        <ul class="menu menu-horizontal md:menu-horizontal bg-base-200 rounded-box">
            {% if page > 1 %}
            <li>
                <a class="join-item btn btn-ghost text-md" href="{{ url_for('characters', page=page-1) }}"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                    </svg> 
                </a>
            </li>
            {% endif %}
            <li><a class="join-item btn btn-ghost text-md" href="{{ url_for('characters', page=page) }}"> {{ page }} </a></li>
            <li>
                <a class="join-item btn btn-ghost text-md" href="{{ url_for('characters', page=page+1) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

    {% include 'global/footer.html' %}
</body>
</html>