<!DOCTYPE html>
<html data-theme="light" lang="es">

{% include 'global/header.html' %}

<body>
    {% include 'global/menu.html' %}

    <div class="h-1/6"></div> 

    <div class="rounded-box flex grow flex-col px-6 pb-8 pt-12 text-center">
        <div class="font-title text-8xl font-black leading-none">Episodes</div> 
        <div class="h-1/6"></div> 
        <p class="text-4xl mx-auto font-sans font-light"></p> 
    </div>

    <div class="h-1/6"></div> 

    {% for season, episodes in seasons.items() %}
    <div class="flex justify-center items-center px-6 pb-4 pt-2">
        <div class="collapse collapse-arrow bg-base-200 w-4/5">
            <input type="radio" name="season" checked="checked" /> 
            <div class="collapse-title text-xl font-medium">
                Season {{ season }}
            </div>
            <div class="collapse-content bg-base-100"> 
                <div class="overflow-x-auto flex justify-center items-center">
                    <table class="table w-4/5">
                        <thead>
                            <tr class="text-center">
                                <th>Episode</th>
                                <th>Name</th>
                                <th>Air date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for episode in episodes %}
                            <tr class="text-center hover:bg-gray-100 cursor-pointer">
                                <td><div class="font-bold text-center">{{ episode['episode'] }}</div></td>
                                <td> {{ episode['name'] }} </td>
                                <td> {{ episode['air_date'] }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
     
    <div class="h-1/5"></div> 

    {% include 'global/footer.html' %}
</body>
</html>