<!DOCTYPE html>
<html data-theme="light" lang="es">

{% include 'global/header.html' %}

<body>
    {% include 'global/menu.html' %}

    <div class="h-1/6"></div> 

    <div class="rounded-box flex grow flex-col px-6 pb-8 pt-12 text-center">
        <div class="grid grid-cols-3 gap-5 justify-items-center">
            
            <div></div> 

            <div class="font-title text-8xl font-black leading-none">Episodes</div> 

            <button class="btn btn-circle btn-accent" onclick="episodeFilter.showModal()">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                </svg>
            </button>
            <dialog id="episodeFilter" class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                    <form method="POST" action="/episodes">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

                        <h2 class="font-bold text-3xl justify-left pb-8">Episodes filters</h3>
                        
                        <div class="grid grid-cols-1 gap-5 justify-items-center pt-4">
                            <input type="text" name="name" placeholder="Episode name" class="input input-bordered input-accent input-sm w-10/12 pr-10"/>
                        </div>

                        <div class="pt-4">
                            <button type="submit" class="btn btn-wide btn-accent">Apply Filters</button>
                        </div> 
                    </form>
                </div>
            </dialog>
        </div>
        <div class="h-1/6"></div> 
        <p class="text-4xl mx-auto font-sans font-light"></p> 
    </div>

    <div class="h-1/6"></div> 
    {% if seasons.items()|length > 0 %}
    {% for season, episodes in seasons.items() %}
    <div class="flex justify-center items-center px-6 pb-4 pt-2">
        <div tabindex="0" class="collapse collapse-arrow bg-base-200 w-4/5">
            <div class="collapse-title text-xl font-medium">
                Season {{ season }}
            </div>
            <div class="collapse-content bg-base-100"> 
                <div class="overflow-x-auto flex justify-center items-center">
                    <table class="table w-4/5">
                        <thead>
                            <tr class="text-center">
                                <th>Episode</th>
                                <th>Name</th>
                                <th>Air date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for episode in episodes %}
                            <tr class="text-center hover:bg-gray-100 cursor-pointer" onclick="window.location.href='{{ url_for( 'episode' , id=episode['id'] ) }}';">
                                <td><div class="font-bold text-center">{{ episode['episode'] }}</div></td>
                                <td> {{ episode['name'] }} </td>
                                <td> {{ episode['air_date'] }} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="rounded-box flex grow flex-col px-6 pb-8 pt-12 text-center">
        <p class="text-4xl pt-12 mx-auto font-sans font-light">There is nothing here</p> 
    </div>
    {% endif %}
    <div class="join join-center justify-center md:flex pb-8 pt-12"></div></div>

    {% include 'global/footer.html' %}
</body>
</html>