<!DOCTYPE html>
<html data-theme="light" lang="es">

{% include 'global/header.html' %}

<body>
    {% include 'global/menu.html' %}

    <div class="h-1/6"></div> 

    <div class="rounded-box flex grow flex-col px-6 pb-8 pt-12 text-center">
        <div class="font-title text-8xl font-black leading-none">Episodes</div> 
        <div class="h-1/6"></div> 
        <p class="text-4xl mx-auto font-sans font-light"></p> 
    </div>

    <div class="h-1/6"></div> 

    {% include 'global/footer.html' %}
</body>
</html>