<!DOCTYPE html>
<html lang="es">

{% include 'global/header.html' %}

<body>
    {% include 'global/menu.html' %}

    <div class="centro">
        <div class="box-blanca-rayada">
            <h2>Rickopedia</h2>
            {% include 'global/wrapper.html' %}
        </div>
    </div>

    <div class="box-morado">
        <h2>Rick and Morty</h2>
        <div class="dos-columnas">
            <div class="centro">
                <img class="img-fondo"
                src="{{ url_for('static', filename='images/RickMorty_Resumen.gif') }}" 
                alt="RickMorty_Resumen">
            </div>
            <div class="derecha">
                <div class="box-blanco">
                    <p class="izquierda">Rick, a brilliant scientist, and Morty, his impressionable grandson, live dangerous adventures on other planets and parallel dimensions.
                        <br>
                        <br>
                        "Rick and Morty" is an animated adult series that follows the adventures of Rick Sanchez, a genius and alcoholic scientist, and his grandson Morty Smith. 
                        Together, they explore alternate dimensions, face surreal situations, and tackle scientific challenges. The series blends science fiction with black and satirical humor, addressing profound themes while breaking the fourth wall and providing social commentary. 
                        The relationship between Rick and his family, along with improvisation in the writing, are key aspects that contribute to the show's appeal.
                    </p>
                </div>
            </div>
        </div>  
    </div>

    <div class="box-amarillo">
        <h2>Rickopedia</h2>
        <div class="dos-columnas">
            <div class="centro">
                <img class="img-fondo"
                src="{{ url_for('static', filename='images/RickMorty_Rickopedia.gif') }}" 
                alt="RickMorty_Rickopedia">
            </div>   
            <div class="box-blanco">
                <div class="dos-filas">
                    <p class="izquierda">Rickopedia is a wiki of all the information you can find about Rick and Morty.
                        <br>
                        It is developed using the Rick and Morty API.
                        <br>
                        It has been designed thinking that all this information can be found, searched and seen clearly and easily.
                    </p>
                    <div class="dos-columnas">
                        <div class="centro">
                            <a class="boton-amarillo">Suggestions</a>
                        </div>
                        <div class="centro">
                            <a class="boton-amarillo" href="https://rickandmortyapi.com/">Rick and Morty API</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box-rojo">
        <h2>Author</h2>
        <div class="dos-columnas">
            <div class="centro">
                <img class="img-fondo"
                src="{{ url_for('static', filename='images/RickMorty_Author.gif') }}" 
                alt="RickMorty_Author">
            </div>
            <div class="box-blanco">
                <div class="izquierda">
                    <div class="tres-filas">
                        <p class="izquierda">The website has been made by Claudia Landeira for fun.
                            <br>
                            You can make suggestions through the suggestions button or write to me through my social networks.
                            <br>
                            The website is open source and is available in my GitHub Repository.
                        </p>

                        <a class="boton-transparente" href="https://github.com/claudialandeirav/Rickopedia">GitHub Repository</a>

                        <div class="cuatro-columnas">
                            <div class="centro">
                                <a class="boton-transparente"><i class="bi bi-twitter-x"></i></a>
                            </div>
                            <div class="centro">
                                <a class="boton-transparente"><i class="bi bi-instagram"></i></a>
                            </div>

                            <div class="centro">
                                <a class="boton-transparente"><i class="bi bi-github"></i></a>
                            </div>

                            <div class="centro">
                                <a class="boton-transparente"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'global/footer.html' %}
</body>
</html>