<!DOCTYPE html>
<html lang="es">

{% include 'global/header.html' %}

<body>
    <div class="dos-columnas">
        <div class="izquierda">
            <div class="dos-filas">
                <div class="box-blanca-rayada">
                    <h1>Rickopedia</h1>
                </div>
                <div class="seis-filas centro">
                    <a class="boton-morado">Home</a>
                    <a class="boton-morado">Characters</a>
                    <a class="boton-morado">Episodes</a>
                    <a class="boton-morado">Locations</a>
                    <a class="boton-morado">Docs</a>
                </div>
            </div>
        </div>

        <div class="derecha">
            <img 
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/51510728-2a84-4021-bc2c-daac82c91c83/dbv9o2c-04180ca8-8be7-4f98-b659-fb0af90e5777.png/v1/fit/w_828,h_1176/rick_morty_by_rnzzz_dbv9o2c-414w-2x.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQ1NCIsInBhdGgiOiJcL2ZcLzUxNTEwNzI4LTJhODQtNDAyMS1iYzJjLWRhYWM4MmM5MWM4M1wvZGJ2OW8yYy0wNDE4MGNhOC04YmU3LTRmOTgtYjY1OS1mYjBhZjkwZTU3NzcucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.egUytD4hsd3KFeLNd_Sgg_u6ykp40Tl9uAEdcAj_p9U" 
            alt="Rickopedia">
        </div>
    </div>

    <div class="box-morado">
        <div class="dos-columnas">
            <div class="centro">
                <h2>Rick and Morty</h2>
            </div>
            <div class="derecha">
                <div class="box-blanco">
                    <h6 class="izquierda">Rick, a brilliant scientist, and Morty, his impressionable grandson, live dangerous adventures on other planets and parallel dimensions.</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="box-amarillo">
        <div class="dos-columnas">
            <div class="dos-filas">
                <div class="centro">
                    <h2>Rickopedia</h2>
                </div>
                <div class="centro">
                    <a class="boton-amarillo">Suggestions</a>
                </div>
            </div>
            
            <div class="box-blanco">
                <h6 class="izquierda">Rickopedia is a wiki of all the information you can find about Rick and Morty.
                <br>
                It is developed using the Rick and Morty API.
                <br>
                It has been designed thinking that all this information can be found, searched and seen clearly and easily.</h6>
            </div>
        </div>
    </div>

    <div class="box-rojo">
        <div class="dos-columnas">
            <div class="dos-filas">
                <div class="centro">
                    <h2>Author</h2>
                </div>
                <div class="centro">
                    <a class="boton-rojo">GitHub Repository</a>
                </div>
            </div>
            <div class="izquierda">
                <div class="box-blanco">
                    <h6 class="izquierda">The website has been made by Claudia Landeira for fun.
                        <br>
                        You can make suggestions through the suggestions button or write to me through my social networks.
                    </h6>

                    <div class="cuatro-columnas">
                        <div class="centro">
                            <a class="boton-morado"><i class="bi bi-twitter-x"></i></a>
                        </div>
                        <div class="centro">
                            <a class="boton-morado"><i class="bi bi-instagram"></i></a>
                        </div>
                        
                        <div class="centro">
                            <a class="boton-morado"><i class="bi bi-github"></i></a>
                        </div>
                        
                        <div class="centro">
                            <a class="boton-morado"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>