<!DOCTYPE html>
<html lang="es">

{% include 'global/header.html' %}

<body>
    <div class="box-blanca-rayada">
        <h3>Rickopedia</h3>
    </div>

    <div class="box-blanco">
        <h3>Rickopedia</h3>
    </div>

    <div class="box-amarillo">
        <h3>Rickopedia</h3>
    </div>

    <div class="box-morado">
        <h3>Rickopedia</h3>
    </div>

    <div class="box-verde-borde">
        <h3>Rickopedia</h3>
    </div>

    <div class="box-gris-borde">
        <h3>Rickopedia</h3>
    </div>

    <div class="box-rojo-borde">
        <h3>Rickopedia</h3>
    </div>

    <div class="box-amarillo-borde">
        <h3>Rickopedia</h3>
    </div>
</body>
</html>