<footer class="footer">
    <div class="cuatro-columnas">
        <div class="centro">
            <a class="boton-transparente"><i class="bi bi-twitter-x"></i></a>
        </div>
        <div class="centro">
            <a class="boton-transparente"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="centro">
            <a class="boton-transparente"><i class="bi bi-github"></i></a>
        </div>
        <div class="centro">
            <a class="boton-transparente"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>

    <div class="cinco-columnas">
        <div class="centro">
            <a class="boton-transparente" href="{{ url_for('home') }}">Home</a>
        </div>
        <div class="centro">
            <a class="boton-transparente" href="{{ url_for('characters') }}">Characters</a>
        </div>
        <div class="centro">
            <a class="boton-transparente" href="{{ url_for('episodes') }}">Episodes</a>
        </div>
        <div class="centro">
            <a class="boton-transparente" href="{{ url_for('locations') }}">Locations</a>
        </div>
        <div class="centro">
            <a class="boton-transparente" href="{{ url_for('docs') }}">Docs</a>
        </div>
    </div>

    <p class="text-center">© 2023 Claudia Landeira | All Rights Reserved</p>
</footer>