<div class="izquierda">
    <div class="menu">
        <a class="boton-verde"><i class="bi bi-list"></i></a>

        <div class="box-blanco contenido-menu">
            <div class="seis-filas centro ">
                <a class="boton-morado" href="{{ url_for('home') }}">Home</a>
                <a class="boton-morado" href="{{ url_for('characters') }}">Characters</a>
                <a class="boton-morado" href="{{ url_for('episodes') }}">Episodes</a>
                <a class="boton-morado" href="{{ url_for('locations') }}">Locations</a>
                <a class="boton-morado" href="{{ url_for('docs') }}">Docs</a>
            </div>
        </div>
    </div>
</div>