<header>
    <div class="navbar w-full bg-base-100 ">
        <div class="navbar-start hidden lg:flex">
            <ul class="menu menu-horizontal lg:menu-horizontal rounded-box">
                <li><a class="btn btn-ghost text-xl" href="{{ url_for('home') }}">Rickopedia</a></li>
            </ul>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal lg:menu-horizontal bg-base-200 rounded-box">
                <li><a class="btn btn-ghost text-xl" href="{{ url_for('home') }}">Home</a></li>
                <li><a class="btn btn-ghost text-xl" href="{{ url_for('characters') }}">Characters</a></li>
                <li><a class="btn btn-ghost text-xl" href="{{ url_for('episodes') }}">Episodes</a></li>
                <li><a class="btn btn-ghost text-xl" href="{{ url_for('locations') }}">Locations</a></li>
                <li><a class="btn btn-ghost text-xl" href="{{ url_for('docs') }}">Docs</a></li>
                <li><a class="btn btn-ghost text-xl" href="{{ url_for('about') }}">About</a></li>
            </ul>
        </div>
        <div class="navbar-end hidden lg:flex">
            <div class="form-control menu menu-horizontal lg:menu-horizontal rounded-box">
                <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
            </div>
        </div>
    </div>
</header>