<div class="menu">
    <div class="centro">
        <div class="cinco-columnas">
            <div class="centro">
                <a class="boton-transparente" href="{{ url_for('home') }}">Home</a>
            </div>
            <div class="centro">
                <a class="boton-transparente" href="{{ url_for('characters') }}">Characters</a>
            </div>
            <div class="centro">
                <a class="boton-transparente" href="{{ url_for('episodes') }}">Episodes</a>
            </div>
            <div class="centro">
                <a class="boton-transparente" href="{{ url_for('locations') }}">Locations</a>
            </div>
            <div class="centro">
                <a class="boton-transparente" href="{{ url_for('docs') }}">Docs</a>
            </div>
        </div>
    </div>
</div>